.outer2{
    border: 2px ;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);  
    height: 350px;
    width: 500px;
    border-radius: 6px;
    text-align: center;
    margin: auto;
}
.heading2 {
    background-image: linear-gradient(to left, #00DDC5 0%, #00B1E9 30%, #0095C6 100%);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 500;
}
.admin2 {
    position: relative;
    top: 30px;
    font-style: normal;
    font-weight: 400;  
}

.password {
    position: relative;
    top: 50px;
    left: 60px;
    width: 365px;
    height: 45px;
    display: flex;
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    background-color: rgb(248, 255, 239);
}
  
input{
    width: 335px;
    height: 42px;
    border-radius: 6px;
    border: none;
    
    font-size: 17px;
}
.btno {
    position: relative;
    top: 100px;
    height: 45px;
    width: 220px;
    color: white;
    background-color: #0095c6;
    border-radius: 6px;
    font-size: 15px;
    border: none;
}

.back{
      position: relative;
      color: #000000;
      top: 120px;
}