.cup {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cup h3 {
    font-size: 20px;
    padding-left: 30px;
    font-size: 20px;
}

.home {
    display: flex;
    align-items:flex-start; 
}

.che {
    display: flex;
    align-items: center;
    padding: 7px;   
}

.active {
    background: rgba(0, 149, 198, 0.16);
}